<?php
return array(
    'modules' => array(
        'GwopApigilityClient',
    ),
    'module_listener_options' => array(
        'config_glob_paths'    => array(
        ),
        'module_paths' => array(
            'module',
            'vendor',
        ),
    ),
);
